/*
  Contains style elements of all the webpages
  Kaiwen Wang
*/

* {
    font-family:"Helvetica", "Courier", "Sans-serif";
}

a {
    text-decoration:none;
}

body {
    background-image:url("imgs/hexagon.jpg");
    background-repeat:repeat;
}

ul {
    list-style-type:none;
}
.heading {
    font-size:14pt;
}

.itemTile {
    border:1px solid black;
    list-style-type:none;
}

.itemTile a {
    text-decoration:none;
}

.selected {
    color:#000000;
}

.unselected {
    color:#555555;
}

#banner {
    width:100%;
    height:auto;
}

#menu {
    width:100%;
    background-color:#FFA500;
}

#sidebar {
    padding-right:50px;
}